[%- MACRO print_language_link(language) BLOCK -%]
    <a href="[% c.uri_for_action('/set_language', [ language.0 ]) %]">
    [%- IF language.1.native_language != '' -%]
        [%- language.1.native_language | ucfirst -%][%- IF language.1.native_territory != '' %] ([%- language.1.native_territory | ucfirst -%])[%- END -%]
    [%- ELSE -%][[%- language.1.id -%]][%- END -%]
    </a>
[%- END -%]
<ul class="r">
    [% IF server_languages.size > 1 -%]
    <li class="language-selector">
        [% FOREACH language = server_languages; IF language.0 == current_language -%]
            [%- print_language_link(language) -%]
            [%- LAST; END -%]
        [%- END %]
        <ul>
        [%- FOREACH language = server_languages -%]
            [%- IF language.0 == current_language; selected_language = 1; ELSE; selected_language = 0; END %]
            <li>[%- IF selected_language == 1 -%]<strong>[%- END %]
                [%- print_language_link(language) -%]
                [%- IF selected_language == 1 -%]</strong>[%- END %]
            </li>
        [%- END %]
            <li>
                <a href="[% c.uri_for_action('/set_language', [ 'unset' ] ) %]">[%- l('(reset language)') -%]</a>
            </li>
        </ul>
    </li>
    [%- END %]
    [%- IF c.user_exists -%]
        <li class="account">
            [% link_entity(c.user) %]
            <ul>
                <li>
                    <a href="[% c.uri_for('/account/edit') %]">[% l('Edit Profile') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/account/change_password') %]">[% l('Change Password') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/account/preferences') %]">[% l('Preferences') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/account/applications') %]">[% l('Applications') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/user/subscriptions/artist', [ c.user.name ]) %]">[% l('Subscriptions') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/user/logout') %]">[% l('Log Out') %]</a>
                </li>
            </ul>
        </li>
        <li class="data">
            <a href="[% c.uri_for_action('/user/profile', [ c.user.name ]) %]">[% l('My Data') %]</a>
            <ul>
                <li>
                    <a href="[% c.uri_for_action('/user/collections', [ c.user.name ]) %]">[% l('My Collections') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/user/ratings', [ c.user.name ]) %]">[% l('My Ratings') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/user/tags', [ c.user.name ]) %]">[% l('My Tags') %]</a>
                </li>
                <li class="separator">
                    <a href="[% c.uri_for_action('/user/edits/open', [ c.user.name ]) %]">[% l('My Open Edits') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/user/edits/all', [ c.user.name ]) %]">[% l('All My Edits') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/edit/subscribed') %]">[% l('Edits for Subscribed Entities') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/edit/subscribed_editors') %]">[% l('Edits by Subscribed Editors') %]</a>
                </li>
            </ul>
        </li>
        [% IF c.user_exists && c.user.is_admin %]
            <li class="admin">
                <a href="[% c.uri_for_action('/admin/index') %]">[% l('Admin') %]</a>
                <ul>
                    [% IF c.user.is_location_editor %]
                        <li>
                            <a href="[% c.uri_for('/area/create') %]">[% lp('Add Area', 'button/menu') %]</a>
                        </li>
                    [% END %]
                    [% IF c.user.is_relationship_editor %]
                        <li>
                            <a href="[% c.uri_for('/instrument/create') %]">[% lp('Add Instrument', 'button/menu') %]</a>
                        </li>
                        <li>
                            <a href="[% c.uri_for_action('/relationship/linktype/index') %]">[% l('Edit Relationship Types') %]</a>
                        </li>
                    [% END %]
                    [% IF c.user.is_wiki_transcluder %]
                        <li>
                            <a href="[% c.uri_for_action('/admin/wikidoc/index') %]">[% l('Transclude WikiDocs') %]</a>
                        </li>
                    [% END %]
                    [% IF c.user.is_banner_editor %]
                        <li>
                            <a href="[% c.uri_for_action('/admin/edit_banner') %]">[% l('Edit Banner Message') %]</a>
                        </li>
                    [% END %]
                    [% IF c.user.is_account_admin %]
                        <li>
                            <a href="[% c.uri_for_action('/admin/attributes/index') %]">[% l('Edit Attributes') %]</a>
                        </li>
                    [% END %]
                </ul>
            </li>
        [% END %]
    [%- ELSE -%]
        <li>[% request_login(l('Log In')) %]</li>
        <li><a href="[% register_url() %]">[% l('Create Account') %]</a></li>
    [%- END -%]
</ul>

<ul>
    <li class="about">
        <a href="[% doc_link('About') %]">[% l('About') %]</a>
        <ul>
            <li>
                <a href="https://metabrainz.org/sponsors">[% l('Sponsors') %]</a>
            </li>
            <li>
                <a href="[% doc_link('About/Team') %]">[% l('Team') %]</a>
            </li>
            <li class="separator">
                <a href="[% doc_link('About/Data_License') %]">[% l('Data Licenses') %]</a>
            </li>
            <li>
                <a href="[% doc_link('Social_Contract') %]">[% l('Social Contract') %]</a>
            </li>
            <li>
                <a href="[% doc_link('Code_of_Conduct') %]">[% l('Code of Conduct') %]</a>
            </li>
            <li>
                <a href="[% doc_link('About/Privacy_Policy') %]">[% l('Privacy Policy') %]</a>
            </li>
            <li class="separator">
                <a href="[% c.uri_for_action('/elections/index') %]">[% l('Auto-editor Elections') %]</a>
            </li>
            <li>
                <a href="[% c.uri_for('/privileged') %]">[% l('Privileged User Accounts') %]</a>
            </li>
            <li>
                <a href="[% c.uri_for('/statistics') %]">[% l('Statistics') %]</a>
            </li>
            <li>
                <a href="[% c.uri_for('/statistics/timeline') %]">[% l('Timeline Graph') %]</a>
            </li>
        </ul>
    </li>
    <li class="blog">
        <a href="http://blog.musicbrainz.org" class="internal">
            [% l('Blog') %]
        </a>
    </li>

    <li class="products">
        <a href="[% doc_link('Products') %]">[%  l('Products') %]</a>
        <ul>
            <li>
                <a href="//picard.musicbrainz.org">[% l('MusicBrainz Picard') %]</a>
            </li>
            <li>
                <a href="[% doc_link('Magic_MP3_Tagger') %]">[% l('Magic MP3 Tagger') %]</a>
            </li>
            <li>
                <a href="[% doc_link('Yate_Music_Tagger') %]">[% l('Yate Music Tagger') %]</a>
            </li>
            <li class="separator">
                <a href="[% doc_link('MusicBrainz_for_Android') %]">[% l('MusicBrainz for Android') %]</a>
            </li>
            <li class="separator">
                <a href="[% doc_link('MusicBrainz_Server') %]">[% l('MusicBrainz Server') %]</a>
            </li>
            <li>
                <a href="[% doc_link('MusicBrainz_Database') %]">[% l('MusicBrainz Database') %]</a>
            </li>
            <li class="separator">
                <a href="[% doc_link('Developer_Resources') %]">[% l('Developer Resources') %]</a>
            </li>
            <li>
                <a href="[% doc_link('XML_Web_Service') %]">[% l('XML Web Service') %]</a>
            </li>
            <li>
                <a href="[% doc_link('Live_Data_Feed') %]">[% l('Live Data Feed') %]</a>
            </li>
            <li class="separator">
                <a href="[% doc_link('FreeDB_Gateway') %]">[% l('FreeDB Gateway') %]</a>
            </li>
        </ul>
    </li>
    <li class="search">
        <a href="[% c.uri_for('/search') %]">[% l('Search') %]</a>
        <ul>
            [%- IF c.user_exists -%]
                <li>
                    <a href="[% c.uri_for_action('/edit/search') %]">[% l('Search Edits') %]</a>
                </li>
            [% END %]
            <li>
                <a href="[% c.uri_for('/tags') %]">[% l('Tags') %]</a>
            </li>
            <li>
                <a href="[% c.uri_for('/cdstub/browse') %]">[% l('Top CD Stubs') %]</a>
            </li>
        </ul>
    </li>
    [%- IF c.user_exists -%]
        <li class="editing">
            <a href="[% doc_link('How_Editing_Works') %]">[% l('Editing') %]</a>
            <ul>
                <li>
                    <a href="[% c.uri_for('/artist/create') %]">[% lp('Add Artist', 'button/menu') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for('/label/create') %]">[% lp('Add Label', 'button/menu') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/release_group/create') %]">[% lp('Add Release Group', 'button/menu') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/release_editor/add') %]">[% lp('Add Release', 'button/menu') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/release_editor/add', { artist = various_artist_mbid }) %]">[% l('Add Various Artists Release') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/recording/create') %]">[% lp('Add Standalone Recording', 'button/menu') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/work/create') %]">[% lp('Add Work', 'button/menu') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/place/create') %]">[% lp('Add Place', 'button/menu') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/series/create') %]">[% lp('Add Series', 'button/menu') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/event/create') %]">[% lp('Add Event', 'button/menu') %]</a>
                </li>
                <li class="separator">
                    <a href="[% c.uri_for('/edit/open') %]">[% l('Vote on Edits') %]</a>
                </li>
                <li>
                    <a href="[% c.uri_for_action('/report/index') %]">[% l('Reports') %]</a>
                </li>
            </ul>
        </li>
    [%- END -%]
    <li class="documentation">
        <a href="[% doc_link('MusicBrainz_Documentation') %]">[% l('Documentation') %]</a>
        <ul>
            <li>
                <a href="[% doc_link('Beginners_Guide') %]">[% l('Beginners Guide') %]</a>
            </li>
            <li>
                <a href="[% doc_link('Style') %]">[% l('Style Guidelines') %]</a>
            </li>
            <li>
                <a href="[% doc_link('How_To') %]">[% l('How Tos') %]</a>
            </li>
            <li>
                <a href="[% doc_link('Frequently_Asked_Questions') %]">[% l('FAQs') %]</a>
            </li>
            <li class="separator">
                <a href="[% c.uri_for_action('/edit/edit_types') %]">[% l('Edit Types') %]</a>
            </li>
            <li>
                <a href="[% c.uri_for_action('/relationship/linktype/index') %]">[% l('Relationship Types') %]</a>
            </li>
            <li>
                <a href="[% c.uri_for_action('/instrument/list') %]">[% l('Instrument List') %]</a>
            </li>
            <li class="separator">
                <a href="[% doc_link('Development') %]">[% l('Development') %]</a>
            </li>
        </ul>
    </li>
    <li class="contact">
        <a href="[% doc_link('Contact_Us') %]">[% l('Contact Us') %]</a>
        <ul>
            <li>
                <a href="[% doc_link('Communication/Mailing_Lists') %]">[% l('Mailing Lists') %]</a>
            </li>
            <li>
                <a href="http://forums.musicbrainz.org" class="internal">
                    [% l('Forums') %]
                </a>
            </li>
            <li class="separator">
                <a href="http://tickets.musicbrainz.org" class="internal">
                    [% l('Report a Bug') %]
                </a>
            </li>
            <li>
                <a href="[% doc_link('Copyright_Violation_Notice') %]">[% l('Report a Copyright Violation') %]</a>
            </li>
            <li>
                <a href="[% doc_link('Data_Removal_Policy') %]">[% l('Data Removal Policy') %]</a>
            </li>
        </ul>
    </li>
</ul>
